$font-size: 12px;
$font-color: #2e2e2e;
$border-grid-color: #c2c2c2;
$button-color:#e24420;
$body-font-family: 'open_sans';
$username-font-family: 'open_sans';
$border-around-images: #dbdbdb;

$smallbreakpoint: 600px;
$largebreakpoint: 1000px;